.main_page {
    background: #808080;
}

.banner {
    padding: 2rem 0;
    background: url("../../assets/images/Banner.jpg") no-repeat;
    background-size: cover;
    color: lightcyan;
    height: 60vh;
    text-align: center;
}
.banner_title {
    margin-top: 160px;
}

.cotainer {
    max-width: 1170px;
    margin: 0 auto;
}

.card__title {
    color: lightcyan;
    text-align: center;
}

.card_news {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
